extends ../_layout

block active
  - sidebar_active = 'chart-js.html'

block content
  h3 Chart JS Tato

  .container-fluid.container-md
    .row.mb-lg
      .col-lg-6
        h3.mb-lg.pv Line Chart
        div
          canvas#chartjs-linechart
      .col-lg-6
        h3.mb-lg.pv Bar Chart
        div
          canvas#chartjs-barchart
    .row.mb-lg
      .col-lg-6
        h3.mb-lg.pv Polar Area Chart
        div
          canvas#chartjs-polarchart
      .col-lg-6
        h3.mb-lg.pv Radar Chart
        div
          canvas#chartjs-radarchart
    .row.mb-lg
      .col-lg-6
        h3.mb-lg.pv Pie Chart
        div
          canvas#chartjs-piechart
      .col-lg-6
        h3.mb-lg.pv Doughnut Chart
        div
          canvas#chartjs-doughnutchart

block vendor_js
  // CHART.JS
  script(src='../vendor/chart.js/dist/Chart.js')
